body {
    margin: 0;
    padding: 0;
    background-color: rgb(244,244,244);
    color: #333;
}
.close-img{
    width:1.5rem;

}
.center{
    object-fit: scale-down;
    text-align: center;
    
}
.movie > h4{
    line-height: 0.1 rem;
}